<!-- scss -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav" *ngIf="currentUser">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <!--<a class="nav-item nav-link" routerLink="/leaves">Leaves</a>-->
    <a class="nav-item nav-link" routerLink="/users">Users</a>
    <div class="logged-user" >
        <strong>{{currentUser?.username}} </strong>
        <span>-</span>
        <span>{{currentUser?.role}}</span>
        <a (click)="logout()">Logout </a>
    </div>
  </div>
</nav>


<alert></alert>
<router-outlet></router-outlet>
