/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.jumbotron{
  background-color:transparent !important;
}
.logged-user{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  color: #337ab7;
}
.logged-user span{
  padding: 5px
}
.logged-user a{
  padding: 10px;
  color: #337ab7;
  border-color: #2e6da4;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid

}
h2 {
  padding-top: 20px;
  text-align: center;
  color: #0074d9;
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 120%;*/
}
.alert-danger {
  max-width: 10%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}